<% cu = current_user %>

<% if !cu.verified? %>
  
  <div class='alert alert-info'>
    <a class='close' data-dismiss='alert'>&#215;</a>
    <h2>Welcome to PickUpMyKid for Cherry Crest!</h2>
    <p>Your request to register has been forwarded to the school administrators for approval. This is our way of securing the site and ensuring that the network you match with is exclusive to your school.</p>
    <p>Once the school has approved your registration within 24 hours, you will have full access to carpool matching features.</p>
    <p>Meanwhile, please complete your user profile below.</p>
  </div>
  
<% end %>

  <ul class='nav nav-tabs'>
    <li class='active'><a href='#address' data-toggle='tab'>My Addresses</a></li>
    <li><a href='#kids' data-toggle='tab'>My Kid(s)</a></li>
    <li><a href='#personal' data-toggle='tab'>Personal Info</a></li>
  </ul>

  <div class='tab-content'>
    <div class='tab-pane active' id='address'>
      <%= render 'address_edit' %>
    </div>
    <div class='tab-pane' id='kids'>
      <%= render 'child_edit' %>
    </div>
    <div class='tab-pane' id='personal'>
      <%= render 'personal_edit' %>
    </div>
  </div>
