<div class='alert alert-info'>
  <h4>Get started creating carpool or finding matches!</h4>
  <ul class='icons'>
    <li><i class='icon-group'></i>
      Have time and willing to drive other kids? Offer your ride to other Cherry Crest kid!
    </li>
    <li><i class='icon-coffee'></i>
      Busy parent looking for help? Find a parent that can help out!
    </li>
  </ul>
  <%= link_to 'Get Started', new_ride_path, class: 'btn btn-primary' %>
</div>
