<% flash.each do |name, msg| %>
  <% if msg.class == Array %>
    <% msg.each do |message| %>
      <div class='alert alert-error'>
        <a class='close' data-dismiss='alert'>&#215;</a>
        <%= content_tag :div, message, id: "flash_#{name}" %>
      </div>
    <% end %>
  <% else %>
    <div class='alert alert-error'>
      <a class='close' data-dismiss='alert'>&#215;</a>
      <%= content_tag :div, msg, :id => "flash_#{name}" %>
    </div>
  <% end %>
<% end %>
