<h3>What is this and what are you trying to do?</h3>
<p>Coming from Cherry Crest's Traffic Committee, PickUpMyKid is a carpool matching utility that matches you with other parents who are making the same daily drop-off and pick-up trip. The goal of this program is to reduce traffic congestion around Cherry Crest during peak hours. To reach this goal, we will need as much participation from parents as possible. So please give us any feedback you might have by clicking on the UserVoice button on the middle-left edge of the page, or by <a href='mailto:hello@pickupmykid.com'>sending us an email</a>.</p>
<h3>How does PickUpMyKid program benefit parents?</h3>
<p>For parent drivers, beside the warm fuzzy feeling of having helped another fellow parent in need, we encourage you to specify a gas money for each ride you offer so that you can make money while offering your help. Parents of little riders, on the other hand, receive reliable, direct and convenient daily transportation to school which saves money on gas and allows for extra breathing room in a hectic schecule.</p>

<h3>How secure is this program?</h3>
<p>The PickUpMyKid program is open to Cherry Crest parents and staff only. New users are approved at the school level to ensure that they find matches within the Cherry Crest community and that their profile information is secure.</p>

<h3>More questions?</h3>
<p>Please contact us by clicking the UserVoice button on the middle-left side of the page, or <a href='mailto:hello@pickupmykid.com'>send us an emai</a>.</p>

<% if false %>
<div class='page-header'>
  <h2>About Pick Up My Kid</h2>
</div>

<div class='row'>
  <div class='span8'>
    <p>Since my daughter May started Kindergarten at Cherry Crest, I have been pondering the question: why doesn't carpooling play a bigger role in helping alleviate the traffic congestion around school and cut back on our gasoline consumption?</p>

    <p>The impediment, after talking to some fellow parents, was two-fold: there was no simple way to pair up parent drivers and student riders, and there was the issue of safety and trust - are you going to let your child jump into a car with a stranger?</p>

    <p>The goal of PickUpMyKid is to connect potential parent drivers and the little riders, so that we can reduce school traffic during peak hours without adding any more resouces to the school or the PTSA.</p>

    <p>Oh and, we really want to create this in time for when my 2-year-old boy starts elementary school!</p>
  </div>

  <div class='span4'>
    <%= image_tag '/assets/daddy_daughter.png', class: 'img-polaroid' %>
  </div>
</div>
<% end %>
