<div class='page-header'>
  <h2>About Pick Up My Kid</h2>
</div>

<div class='row'>
  <div class='span8'>
    <p>Since my daughter May started Kindergarten at Cherry Crest, I have been pondering the question: why doesn't carpooling play a bigger role in helping alleviate the traffic congestion around school and cut back on our gasoline consumption?</p>

    <p>The impediment, after talking to some fellow parents, was two-fold: there was no simple way to pair up parent drivers and student riders, and there was the issue of safety and trust - are you going to let your child jump into a car with a stranger?</p>

    <p>The goal of PickUpMyKid is to connect potential parent drivers and the little riders, so that we can reduce school traffic during peak hours without adding any more resouces to the school or the PTSA.</p>

    <p>Oh and, we really want to create this in time for when my 2-year-old boy starts elementary school!</p>
  </div>

  <div class='span4'>
    <%= image_tag '/assets/daddy_daughter.png', class: 'img-polaroid' %>
  </div>
</div>
