<div class='jumbotron'>
  <h1>How about stop picking up your kid after school?</h1>
  <p class='lead'>
  And save time, gas and stress! We'll match your kid up with another parent from the same school willing to fill some empty seats, help some parents and earn some gas money.
  </p>
  <a href='#' class='btn btn-large btn-success'>Sign up today!</a>
</div>


<hr>

<div class='row-fluid marketing'>
  <div class='span6'>
    <h4>Free & Easy to Set Up</h4>
    <p>
    Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.
    </p>

    <h4>Easy Scheduling</h4>
    <p>
    Once a match is made, we'll help generate a complete weekly schedule along with email/text reminders.
    </p>

    <h4>Verified Drivers</h4>
    <p>
    All drivers are verified parents of your kids' school registered for the current school year.
    </p>
  </div>

  <div class='span6'>
    <h4>Easy Payment Handling</h4>
    <p>
    Donation or gas money for the driver is completely automated via a single click of a button. Unsure of how much to pay? We'll suggest a dollar amount based on mileage and time.
    </p>

    <h4>Realtime GPS Tracking</h4>
    <p>So that you'll be able to know where exactly your child's vehicle is at any time on the road</p>

    <h4>Subheading</h4>
    <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
  </div>
</div>
