<div class='hero-unit'>
  <div class='row-fluid'>
    <div class='span8'>
      <p class='lead'>Need help transporting your kids? Find a fellow parent to drive them!</p>
      <p class='lead'>Willing to drive other kids and make some money along the way? Find a fellow parent who's happy to share the cost!</p>
    </div>
    <div class='span4'>
      <a href='#' class='btn btn-block btn-large btn-primary'>Sign up today!</a>
    </div>
  </div>
</div>


<hr>

<div class='row-fluid'>
  <div class='span12 text-center'>
    <h2>How It Works</h2>
  </div>
</div>

<br></br>

<div class='row-fluid'>
  <div class='span4'>
    <div class='text-center'><i class="icon-home icon-4x" style='color:blue'></i></div>
    <br></br>
    <h4 class='text-center'>Find other Cherry Crest families who live close to you</h4>
  </div>
  <div class='span4'>
    <div class='text-center'><i class="icon-car-sign icon-4x" style='color:blue'></i></div>
    <br></br>
    <h4 class='text-center'>Form carpools in which either you are the parent driver or your kids are the little riders</h4>
  </div>
  <div class='span4'>
    <div class='text-center'><i class="icon-calendar icon-4x" style='color:blue'></i></div>
    <br></br>
    <h4 class='text-center'>We'll take care of scheduling, reminders via emails or text and handling of payment</h4>
  </div>
  
</div>
